<div class="container">  

    <div style="display:flex; margin-bottom: 10px;">
        <h3 style="padding-top: 4px; margin-bottom: 0px; ">{{"usuario.addCrypt.titulo" | translate}}</h3>
        <span class="menu-spacer"></span>


        <mat-form-field >
            
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
          </mat-form-field> &nbsp;
 
          
  

    </div>


    <mat-progress-bar mode="indeterminate" *ngIf="isLoad"></mat-progress-bar>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort style="width:100%">

        <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
        <!-- Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef  > {{"tabla.nombreCryp" | translate}} </th>
            <td mat-cell *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef  > {{"tabla.symbol" | translate}} </th>
            <td mat-cell *matCellDef="let element">
                {{element.symbol}}
            </td>
        </ng-container>

        

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef > {{"tabla.Accion" | translate}} </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="add(element)">Add</button>

            </td>
        </ng-container>

  
 
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>




 
 <p></p>


</div>