<div class="margin"  divCurtain> 

    <mat-tab-group mat-align-tabs="center"  >
        <mat-tab label="{{'home.tab.Cambio' | translate}}">  <app-cambio ></app-cambio></mat-tab>
        <mat-tab label="{{'home.tab.Listado' | translate}}">  <app-listado ></app-listado> </mat-tab>

      </mat-tab-group>

</div>
 

