.w-200{
    width: 100px;
}

.menu-spacer {
	flex: 1 1 auto;
}
 
::ng-deep snack-bar-container.success-class {
    background:hsl(141, 53%, 53%);
  }
  
  ::ng-deep .success-class .mat-simple-snackbar {
    color: white;
  }

  ::ng-deep .mat-form-field-wrapper{
    margin-bottom: -20px;
 }