<div class="container"> 
    <div style="display:flex; margin-bottom: 10px;">
        <h3 style="padding-top: 4px; margin-bottom: 0px; ">{{"usuario.endpoint.titulo" | translate}}</h3>
        <span class="menu-spacer"></span>

        <button mat-raised-button color="primary" (click)="lista()">{{"usuario.endpoint.lista" | translate}}</button>
        &nbsp;
        <button mat-raised-button color="primary" (click)="top()">{{"usuario.endpoint.top" | translate}}</button>
    </div>

    {{retultado| json}}


</div>