<div class="container"   >  
 
    <div #div class="scrollable"> 
   

    <mat-progress-bar mode="indeterminate" *ngIf="isLoad"></mat-progress-bar>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort style="width:100%">

        <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
        <!-- Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef  > {{"tabla.Nombre" | translate}} </th>
            <td mat-cell *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="Precio">
            <th mat-header-cell *matHeaderCellDef  > {{"tabla.Precio" | translate}} </th>
            <td mat-cell *matCellDef="let element">
                {{element.Precio}}
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef  > {{"tabla.Criptomoneda" | translate}} </th>
            <td mat-cell *matCellDef="let element">

                <div *ngIf="element.type=='CRYPTO'" class="crypto">
                    ● SI
                </div>

                <div *ngIf="element.type!='CRYPTO'" class="fiat">
                    ● NO
                </div>


               
            </td>
        </ng-container>

        

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef > {{"tabla.Convertir" | translate}} </th>
            <td mat-cell *matCellDef="let element">
                <img src="../../../assets/shuffle.png" style="width: 25px; cursor: pointer; "  (click)="cambiar(element)">
     

            </td>
        </ng-container>

  
 
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>



 
 <p></p>

 

</div>
 
 