.crypto{
    color:green
}
.fiat{
    color:red
}

.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }
  






  .scrollable {
    
    flex-wrap: wrap;
    width: 100%;
    word-break: break-all;
    
    overflow-y: auto;
    height: 500px;
  }