<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="true">
    <mat-toolbar color="primary" class="example-toolbar">
     
      <button mat-button [routerLink]="['./']">{{"app.home" | translate }}</button>

      <div *ngIf="isLogin"> 
      <button mat-button [routerLink]="['./user/crear']">{{"app.add" | translate }}</button>
      <button mat-button [routerLink]="['./user/endPoint']">{{"app.endpoint" | translate }}</button> 
    </div>
  
      <div fxShow="true" fxHide.lt-md fxLayout="row" fxLayoutAlign="end center">
  
      </div>
      <span class="menu-spacer"></span>

    


     
        <span class="menu-spacer"></span>
         
        <a *ngIf="!isLogin" (click)="ingresar()" mat-button>{{"app.ingresar" | translate}}</a>
  
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isLogin">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
  
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Configuraciones</span>
          </button>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Desconetar</span>
          </button>
        </mat-menu>
  
  
  
     
  
  
  
  
  
  
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="(isHandset$ | async) ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56" [opened]="!(isHandset$ | async)"  >
        <mat-nav-list *ngFor="let item of miMenu" style="width: 100px;">
  
  
  
          <li>
            <a [routerLink]="item.route" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}" matLine>
              {{item.displayName}}
            </a>
          </li>
  
   
  
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <div style="margin-left: auto">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>