/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .full-width {
    width: 100%;
  }

  .margin {
    margin: 20px;  
    margin-top: 20px;
  }


  .container{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}